<div class="row mt-4">
  <h2 class="h3">Selector</h2>
  <span class="border mb-2"></span>

</div>
<form class="row" [formGroup]="myForm">
  <div class="col">
    <select class="form-select" formControlName="region">
      <option value="">--- Seleccione un continente ---</option>
      <option *ngFor="let region of regions" [value]="region">{{region|titlecase}}</option>
    </select>
  </div>
  <div class="col">
    <select class="form-select" formControlName="country">
      <option value="">--- Seleccione un país ---</option>
      <option *ngFor="let country of countries" [value]="country?.cca3  || ''">{{country.name.common}}</option>
    </select>
  </div>
  <div class="col">
    <select class="form-select" formControlName="borders">
      <option value="">--- Seleccione frontera ---</option>
      <option *ngFor="let border of borders" [value]="border.cca3">{{border.name.common}}</option>
    </select>
  </div>
</form>
<div class="row mt-2">
  <div class="col">
    {{myForm.value|json}}
  </div>
</div>